@font-face {
    font-family: 'Gordita';
    src: url('GorditaLight.woff2') format('woff2'),
        url('GorditaLight.woff') format('woff'),
        url('GorditaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('GorditaBold.woff2') format('woff2'),
        url('GorditaBold.woff') format('woff'),
        url('GorditaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('GorditaMedium.woff2') format('woff2'),
        url('GorditaMedium.woff') format('woff'),
        url('GorditaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('GorditaRegular-Italic.woff2') format('woff2'),
        url('GorditaRegular-Italic.woff') format('woff'),
        url('GorditaRegular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('GorditaRegular.woff2') format('woff2'),
        url('GorditaRegular.woff') format('woff'),
        url('GorditaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}